* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling af body og baggrundsbillede */
body {
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    color: white;
    background-image: url(/img/infotop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 300px;
    line-height: 1.5rem;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}


header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color:white;
    display: block;
}

header .navbar ul li a:hover {
    background: #333;
    color: 
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

/* Styling af hovedoverskrift og indledende tekst */
.trackman-artikel{
    margin-top: 12rem;
    display: flex;
    justify-content: center
}

.trackman-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: center;
}

.trackman-overskrift{
    text-align: center;
    padding-bottom: 20px;
}


h2{
    color: #DEE2A4;
}


/* Styling af artikler der ligger til højre på siden */

/* Styling af første artikel */
.info-spiloplevelse{
    margin-top: 5rem;
    display: flex;


}

.right{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4rem;
    
}


.img-spiloplevelse{
    margin-left: 4rem;
    margin-right: -15rem;
    
}

.realistisk-img{
    width: 80%;
    height:auto;
   
}

/* Styling af anden artikel til højre */
.info-data{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-data{
    width: 90%;
}


.infodata-img{
    width: 100%;
    height: auto;
    
}


/* Styling af overskrifter */
h3{
    margin-bottom: 1rem;
}

.fordele-overskrift{
    text-align: center;
    margin-top: 10rem;
}








/* Styling af artikler der ligger til venstre */
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 2rem 0 4rem;
}


.info-traening {
    display: flex;
    margin-top: 6rem;
}
    
.img-traening{
display: flex;
justify-content: center;
align-items: center;
}

.trackman-img{
    width: 80%;
    height: auto;
}

/* Styling af anden artikel til venstre */
.info-social{
    display: flex;
    margin-top: 5rem;

}

.img-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    margin-left: -5rem;
}

.infosocial-img{
    width: 90%;
    opacity: 0.5;
}

@media(max-width:991px){


    header {
        padding: 20px;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

}

