* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#DEE2A4;

}
body {
    font-family: Helvetica;
    text-decoration: none;
    background-color: black;
}

.billder {
        display: flex;
        flex-direction: row;
    }

    section h1 {
color:var(--primary-color)  
  }
