*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Helvetica;
    text-decoration: none;
    min-height: 100vh;
    background: url('../img/forsidetop1.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    text-align: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none; /* Fjerner den underliggende streg */
    color: inherit; /* Arver farven fra omgivende elementer */ 
}

.section {
    margin: 100px;
    text-align: center;
    line-height: 1.6;
}

header {
    position: fixed;
    top:0;
    left:5px;
    right:5px;
    width: 100%;
    z-index: 1000;
    background: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

header .logo{
    margin-left: 10px;
    padding-left: 0;
}

.logo{
    width: 150px;

}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}


header .navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: lao sangam MN; /*font virker ikke*/
    padding: 18px 70px;
    color: white;
    display: block;
}

header .navbar ul li a:hover {
    background: rgba(0,0,0,0.1);
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}




.top {
    background-image: linear-gradient(to bottom, transparent 30%, black 100%), url("../img/forsidetop1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: column; /* Gør det muligt at arrangere børnene lodret */
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5%;
}

/* Styling af forsidebillede */
.forsidelogo {
    position: relative;
    width: 500px; /* Juster størrelsen på billedet */
    margin-bottom: 20px; /* Afstand mellem billedet og knappen */
    z-index: 1; /* Sørger for, at billedet er foran baggrunden */
}

/* Styling af knap */
.button {
    font-size: larger;
    font-family: lao sangam MN; /*font virker ikke*/
    border-radius: 50%;
    padding: 30px 70px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition-duration: 0.4s;
    z-index: 1; /* Sørger for, at knappen er foran baggrunden */
}

.button:hover {
    background-color: rgba(211, 211, 211, 0.668); /* Ændring ved hover */
    color: white;
}